# Python artifacts
__pycache__/
*.py[cod]
venv/
.env

# User Secrets (Crucial!)
client_secrets.json
token.json
viria_state.json
.webengine_data/

# Media & Temporary Files
downloads/
clips/
subtitles/
music/
tokens/
build/
dist/
*.spec
*.pt
*.wav
*.jpg